:root {
  --clr-primary: rgba(177, 194, 169, 1);
 
  --clr-accent-100: rgba(255, 255, 255, 1);
  --clr-accent-200: rgba(229, 226, 226, 1);
  --clr-accent-300: rgba(210, 210, 210, 1);
  --clr-accent-400: rgba(196, 210, 210, 1);
  --clr-accent-500: rgba(31, 80, 36, 1);
  --clr-accent-600: rgba(0, 0, 0, 1);
}


html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}
.container {
  width: 100%;
  height: 100%;
  background-color: var(--clr-accent-200);
}
.heading {
  width: 100%;
  background-color: var(--clr-accent-200);
  height: 16%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.home-button {
 border-radius: 50%;
 background-color: var(--clr-accent-200);
 padding: 10px;
 font-size: 19px;
 border-color: var(--clr-accent-600);
 margin-left: 10px;
 position: absolute;
}

.topic {
  flex-grow: 1;
  text-align: center;
  font-size: 40px;
}

.fa-pen {
  font-size: 30px;
  margin-left: 20px;
}

.top-buttons {
  width: 100%;
  background-color: var(--clr-accent-200);
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.display-button {
  background-color: var(--clr-accent-300);
  border: none;
  padding: 8px;
  font-size: 25px;
}

.new-card-btn {
  background-color: var(--clr-primary);
  color: var(--clr-accent-100);
  border-color: var(--clr-accent-500);
  border-radius: 50px;
  padding: 17px;
  font-size: 17px;
  font-family: 'Baloo Thambi 2', cursive;
  border-width: 1.25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 10px;
}

.button-wrapper {
  text-align: center;
  display: inline-block; 
  margin-bottom: 15px;
}

.top-buttons p {
  margin: 0;
  position: relative;
}


.flashcard-div {
  width: 100%;
  background-color: var(--clr-accent-200);
  height: 49%;
  
}

.flashcard-paper {
  background-color: var(--clr-primary);
  height: 97%;
  width: 90%;
  display: flex;
 margin: auto;
}

.edit-flashcard {
  position: absolute;
  background: none;
  border: none;
  
}


.flashcard-note {
  position: relative;
  background-color: var(--clr-accent-200);
  height: 56%;
  width: 86%; 
  margin: auto;
  
}

.pattern {
  position: absolute;
  bottom: 0;
  height: 82%;
  width: 100%; 
  background-image: linear-gradient(var(--clr-accent-600) 1px, transparent 0px);
  background-size: 100% 2em;
  background-position-y: 1rem;
  line-height: 2em;
}






.arrow-buttons {
  width: 100%;
  background-color: rgb(105, 38, 96);
  height: 23%;
}



/*
.remove {
  display: none;
}

.flashcardButtonDiv {
  position:absolute;
  bottom:0;
  right:0;
  
}

.container {
  background-color: var(--clr-primary);
  text-align: center;
  position: relative;
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
}


#new-card-button {
  border-radius: 50%;
  padding: 20px;
}

.flashcard-pointers {
  display: flex;
  justify-content: center;
}

.arrowDiv {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.nextArrow  {
  margin-left: 10px;
}
.backArrow  {
  margin-right: 10px;
}

.arrow {
  background-color: var(--clr-primary);
  border: none;
  border-radius: 50%;
  color: var(--clr-accent-100);
}

.flashcard-paper {
  background-color: var(--clr-accent-200);
  width: 100%;
} 
*/