.remove {
  display: none;
}

.flashcardButtonDiv {
  position:absolute;
  bottom:0;
  right:0;
  
}

.flashcardFrontDiv {
  background-color: rgb(205, 218, 220);
  text-align: center;
  position:relative;
  width: 350px;
  height: 350px;
  margin: auto;
}


#new-card-button {
  border-radius: 50%;
  padding: 20px;
}

.flashcard-pointers {
  display: flex;
  justify-content: center;
}

.arrowDiv {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.nextArrow  {
  margin-left: 10px;
}
.backArrow  {
  margin-right: 10px;
}
