:root {
  --clr-primary: rgba(177, 194, 169, 1);
 
  --clr-accent-100: rgba(255, 255, 255, 1);
  --clr-accent-200: rgba(229, 226, 226, 1);
  --clr-accent-300: rgba(210, 210, 210, 1);
  --clr-accent-400: rgba(196, 210, 210, 1);
  --clr-accent-500: rgba(31, 80, 36, 1);
  --clr-accent-600: rgba(0, 0, 0, 1);
  --clr-accent-700: rgba(196, 210, 210, 1);
}


html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}
.container {
  width: 100%;
  height: 100%;
  background-color: var(--clr-accent-200);
}
.header {
  width: 100%;
  background-color: var(--clr-accent-200);
  height: 16%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.home-button {
 border-radius: 50%;
 background-color: var(--clr-accent-200);
 padding: 10px;
 font-size: 19px;
 border-color: var(--clr-accent-600);
 margin-left: 25px;
 position: absolute;
 -webkit-text-fill-color: black;
}

.topic {
  font-family: 'Baloo Thambi 2', cursive;;
  flex-grow: 1;
  text-align: center;
  font-size: 40px;
}

.fa-pen {
  font-size: 30px;
  margin-left: 20px;
}

.top-buttons {
  width: 100%;
  background-color: var(--clr-accent-200);
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.display-button {
  background-color: var(--clr-accent-300);
  border: none;
  padding: 8px;
  font-size: 25px;
  color: black;
}

.primary-btn {
  background-color: var(--clr-primary);
  color: var(--clr-accent-100);
  border-color: var(--clr-accent-500);
  border-radius: 50px;
  padding: 17px;
  font-size: 17px;
  font-family: 'Baloo Thambi 2', cursive;
  border-width: 1.25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 10px;
}

.button-wrapper {
  text-align: center;
  display: inline-block; 
  margin-bottom: 15px;
}

.top-buttons p {
  margin: 0;
  position: relative;
}


.flashcard-div {
  width: 100%;
  background-color: var(--clr-accent-200);
}

.flashcard-paper {
  background-color: var(--clr-primary);
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 10px;
}

.edit-div {
  display: flex;
  justify-content: flex-end;
}

.delete-flashcard {
  background: none;
  border: none;
  font-size: 25px;
  -webkit-text-fill-color: black;
}

.edit-flashcard {
  background: none;
  border: none;
  padding: 20px;
  -webkit-text-fill-color: black;
}


.flashcard-note {
  position: relative;
  background-color: var(--clr-accent-200);
 height: auto;
  width: 86%; 
  margin: 20px auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 10px;
}

.pattern {
  min-height: 150px;
  width: 100%; 
  background-image: linear-gradient(var(--clr-accent-600) 1px, transparent 0px);
  background-size: 100% 2em;
  background-position-y: 1rem;
  line-height: 2em;
}

.answer {
  padding-top: 5px;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 45px;
  font-weight: 600;
  word-wrap: break-word;
  line-height: 1.2em;
}

.question {
  padding-top: 5px;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 45px;
  font-weight: 600;
  word-wrap: break-word;
  line-height: 1.2em;
}

.tape-section {
  position: absolute;
  width: 100%;
}

.tape-section:first-of-type {
  top: 0;
}

.tape-section:last-of-type {
  bottom: 0;
}

.tape-section::before,
.tape-section::after {
  content: "";
  width: 15vmin;
  height: 4vmin;
  position: absolute;
  background-color: var(--clr-accent-400);
  opacity: 0.7;
  border-right: 1px var(--clr-accent-400);
  border-left: 1px var(--clr-accent-400);
  z-index: 7;
}

.tape-section:last-of-type::after {
  transform: rotate(-45deg);
  right: -4vmin;
  top: -5vmin;
}

.tape-section:first-of-type::before {
  transform: rotate(-45deg);
  left: -4vmin;
  bottom: -5vmin;
  content: attr(title);
  color: var(--clr-accent-500);
  font-size: 3vmin;
  font-family: 'Baloo Thambi 2', cursive;
  text-align: center;
}

.tape-section-color:first-of-type::before {
  background-color: var(--clr-accent-700);
  opacity: 1;
}

.tape-section-color:last-of-type::before {
  background-color: var(--clr-accent-700);
  opacity: 1;
}


.tape-section:first-of-type::after {
  transform: rotate(45deg);
  right: -4vmin;
  top: 1vmin;
}

.tape-section:last-of-type::before {
  transform: rotate(45deg);
  left: -4vmin;
  bottom: 1.5vmin;
  content: attr(title);
  color: var(--clr-accent-500);
  font-size: 3.5vmin;
  font-family: 'Baloo Thambi 2', cursive;
  text-align: center;
}

.press-answer {
  text-align: center;
  font-family: 'Inter', sans-serif;
  color: var(--clr-accent-100);
  font-weight: 600;
  font-size: 14px;
  padding-bottom: 10px;
}

.arrow-buttons {
  width: 100%;
  background-color: var(--clr-accent-200);
  height: 23%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.arrow {
  color: var(--clr-accent-100);
  background-color: var(--clr-primary);
  border: none;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  font-size: 40px;
  padding: 0;
}


.counter {
  font-family: 'Inter', sans-serif;
  font-size: 30px;
}

.remove {
     display: none; 
}

.align-text-edit {
  position: relative;
  margin-top: 20px;
}

.delete-btn, .save-btn {
  border-radius: 15%;
  padding: 12px 19px;
  font-size: 20px;
  margin: 12px 25px 0 0px;
  box-shadow: none;
  border: none;

}

.delete-btn {
  background-color: rgb(201, 62, 62);
  margin-right: 12px;
}

.save-btn {
  background-color: rgb(88, 88, 226);
}

@media (min-width: 1200px) {
  .flashcard-div {
    height: 60%;
  }
  .flashcard-paper {
    width: 50%;
    height: 100%;
  }
  .arrow-buttons {
    justify-content: center;
  }
  .arrow {
    margin: 100px;
  }
  .top-buttons {
    width: 50%;
    margin: auto;
    justify-content: space-between;
  }
  }

  @media (min-width: 992px) {
    .flashcard-div {
      height: 60%;
    }
    .flashcard-paper {
      width: 50%;
      height: 100%;
      max-width: 80vw;
    }
    .arrow-buttons {
      justify-content: center;
    }
    .arrow {
      margin: 100px;
    }
    .top-buttons {
      width: 50%;
      margin: auto;
      justify-content: space-between;
    }
    }
